$bgcolor:#272833;

/*arrow-down*/
%icon-arrow-down {
  .down-btn {
    position: absolute;
    left: 50%;
    bottom: 0.75rem;
    padding: 30px 50px 0;
    transform: translateX(-50%);
    text-align: center;
    .icon {
      display: inline-block;
      font-size: 2.75rem;
    }
  }
  @media screen and (max-width:991.99px){
    .down-btn {
      flex: none;
      text-align: center;
      .icon {
        display: inline-block;
        font-size: 44px;
      }
    } 
  }
}

/*更多信息按钮*/
%info-btn {
  .btn {
    display: inline-block;
    text-align: center;
    padding: 0 2.25em;
    line-height: 3em;
    height: 3em;
    background-color: rgba($color: #fff, $alpha: 0.3);
    opacity: 0.25;
  }
  .btn-disabled {
    cursor: not-allowed;
  }
}

/*section背景图*/
@mixin bg($url) {
  .bg {
    width: 100%;
    background: url($url) no-repeat fixed center 0/cover;
    &:before {
      content: '';
      display: block;
      height: 100%;
      width: 100%;
      background-image: url('../assets/img/overlay.png');
    }
  }
}
/*移动端border统一为top*/
@mixin border-mobile($color){
  border: none;
  border-top: 5px solid $color; 
}

%text-common{
  h2{
    margin-bottom: 1em;
    line-height: 1.5rem;
    font-size: 2rem;
    letter-spacing: -0.025em;
  }
  p.desc{
    margin-bottom: 1em;
    font-size: 1.1rem;
    font-weight: 300;
  }
  .quote{
    margin-bottom: 2em;
    padding: 0.5em 0 0.5em 2em;
    font-size:  1rem;
    font-style: italic;
    border-left: 4px solid rgba($color: #fff, $alpha: 0.3);
    color: rgba(255, 255, 255, 0.75);
  }
  p.text{
    margin-bottom: 2em;
    line-height: 1.5em;
    font-size: 1rem;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.75);
    span{
      color: #fff;
    }
  }
  @media screen and (max-width: 991.99px){
    h2{
      margin-bottom: 1.54rem;
      font-size: 1.5rem;
    }
    p.desc{
      font-size: 1rem;
    }
  }
}

html,
body {
  height: 100%;
  color: #fff;
  font-size: 16px;
  @media screen and (max-width: 991.99px){
    // font-size: 12px;
  }    
}

.container {
  height: 100%;
  &>.item {
    height: 100%;
    background-color: $bgcolor;
    background-image: linear-gradient(to top, rgba(23, 24, 32, 0.95), rgba(23, 24, 32, 0.95));
  }
}

#one {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 3.5rem;
  @include bg('');
  .header {
    flex: none;
    display: flex;
    justify-content: space-between;
    padding-left: 24px;
    height: 50px;
    line-height: 50px;
    font-size: 1.1rem;
    &>.logo>a {
      span {
        font-weight: 300;
        transition: color 0.2s ease;
        &:hover {
          color: #e44c65;
        }
      }
      sup {
        font-size: 0.8rem;
        font-weight: 300;
      }
    }
    .nav {
      position: absolute;
      top: 0px;
      right: 20px;
      font-size: 1.1rem;
      .btn-default,
      .btn-disabled {
        display: inline-block;
        padding: 0 1rem;
        height: 2rem;
        line-height: 2rem;
        font-weight: 100;
      }
      .btn-default {
        color: rgba(255, 255, 255, 0.75);
        transition: color 0.2s ease;
        &:hover {
          color: #e44c65;
        }
      }
      .btn-disabled {
        cursor: not-allowed;
        background-color: rgba($color: #fff, $alpha: 0.3);
        border-radius: 2px;
        opacity: 0.3;
      }
    }
  }
  div.content {
    flex: none;
    padding-right: 6.5rem;
    padding-bottom: 3.75rem;
    text-align: right;
    &>h2 {
      margin-bottom: 0.625rem;
      font-size: 2.5rem;
      font-weight: 300;
    }
    &>p {
      line-height: 40px;
      font-size: 1.25rem;
      font-weight: 300;
    }
    &>.logo {
      margin-top: 1rem;
      img {
        height: 18rem;
        width: 18rem;
        display: inline-block;
        border-radius: 50%;
      }
    }
  }
  @extend %icon-arrow-down
}
@media screen and (max-width: 991.99px) {
  #one{
    padding-top: 44px;
    .header{
      display: none;
    }
    div.content{
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-right: 15px;
      padding-bottom: 0;
      text-align: center;
      &>h2{
        font-size: 1.5rem;
      }
      &>p{
        line-height: 1.75;
        font-size: 1rem;
        &>br{
          display: none;
        }
      }
      &>.logo {
        margin-top: 2rem;
        img {
          height: 9rem;
          width: 9rem;
          border-radius: 50%;
        }
      }
    }
  }
  
}

#two {
  position: relative;
  overflow: hidden;
  @include bg('../assets/img/pic02.jpg');
  .bg-mobile{
    display: none;
  }
  .content {
    position: absolute;
    bottom: 0;
    padding: 3rem 3.75rem 3.5rem;
    border-top: 5px solid #e44c65;
    background-color: rgba(23, 24, 32, 0.95);
    .item {
      flex: 1;
    }
    @extend %info-btn;
    @extend %icon-arrow-down;
    @extend %text-common;
  }
}
@media screen and (max-width: 991.99px){
  #two{
    height: auto;
    overflow: auto;
    text-align: center;
    .bg{
      display: none;
    }
    .bg-mobile{
      display: block;
      /*解决图片在flex中被拉伸*/
      height: 100%;
      width: 100%;
    }
    .content{
      display: flex;
      flex-direction: column;
      align-items: center;
      position: static;
      margin: 0;
      padding-left: 0;
      padding-right: 0;
      .item{
        flex: 0 0 auto;
        .btn{
          display: block;
        }
      }
    }
    .down-btn{
      display: none;
    }
  }
}

#three {
  position: relative;
  overflow: hidden;
  @include bg('../assets/img/pic04.png');
  .bg-mobile{
    display: none;
  }
  .content {
    flex: 1;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 30rem;
    margin: 0;
    padding: 6rem 3rem;
    background-color: rgba(23, 24, 32, .95);
    border-left: 5px solid #5480f1;
    @extend %info-btn;
    @extend %text-common;
  }
  @extend %icon-arrow-down;
}

#four {
  position: relative;
  overflow: hidden;
  @include bg('../assets/img/pic03.gif');
  .bg-mobile{
    display: none;
  }
  .content {
    flex: 1;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 30rem;
    margin: 0;
    padding: 6rem 3rem;
    background-color: rgba(23, 24, 32, .95);
    border-right: 5px solid #39c088;
    @extend %info-btn;
    @extend %text-common;
  }
  @extend %icon-arrow-down;
}
@media screen and (max-width: 991.99px){
  #three,
  #four{
    height: auto;
    overflow: auto;
    text-align: center;
    justify-content: center;
    .bg{
      display: none;
    }
    .bg-mobile{
      display: block;
      /*解决图片在flex中被拉伸*/
      height: 100%;
      width: 100%;
    }
    .content{
      display: flex;
      flex-direction: column;
      align-items: center;
      position: static;
      padding: 3.5rem 0;
      .btn{
        display: block;
      }
    }
    .down-btn{
      display: none;
    }
  }
  #three{
    .content{
      @include border-mobile(#5480f1)
    }
  }
  #four{
    .content{
      @include border-mobile(#39c088)
    }
  }
}

#five {
  position: relative;
  padding: 69px 30px 38px;
  overflow: hidden;
  justify-content: center;
  .content {
    justify-content: center;
    .title-wrapper {
      text-align: center;
      padding-bottom: 40px;
      .title {
        padding-bottom: 20px;
        font-size: 1.5rem;
        font-weight: 300;
      }
      .desc {
        display: inline-block;
        line-height: 1.75;
        font-size: 1.25rem;
        font-weight: 300;   
        &:after {
          content: '';
          display: inline-block;
          position: relative;
          top: 30px;
          left: -12.5%;
          width: 125%;
          border-bottom: 3px solid #e44c65;
        }
      }
    }
    .label-wrapper {
      padding: 0 30px;
      text-align: center;
      font-weight: 300;
      .icon {
        display: inline-block;
        padding: 0.8em;
        font-size: 36px;
        background-color: #272833;
        border-radius: 50%;
      }
      .title {
        padding: 20px 0 20px 0;
        font-size: 1.35rem;
      }
      .desc {
        line-height: 1.75;
        font-size: 1rem;
        font-weight: 300;
        color: rgba($color: #fff, $alpha: 0.75);
      }
    }
    @extend %info-btn;
    .btn-wrapper{
      text-align: center;
    }
  }
}
@media screen and (max-width:991.99px){
  #five{
    height: auto;
    padding: 3.5rem 0;
    .content{
      padding-left: 0;
      padding-right: 0; 
      .title-wrapper{
        .title{
          line-height: 1.5;
          font-size: 1.5rem;
          letter-spacing: -0.025em;
        }
        .desc{
          font-size: 1rem;
        }
      }
      .label-wrapper{
        padding: 2.5rem 0 0 0;
        .title{
          font-size: 1.2rem;
        }
      }
      .btn{
        display: block;
        margin-top: 2rem;        
      }
    }
  }
}

#six {
  justify-content: center;
  padding: 69px 30px 38px;
  height: auto;
  background: #e44c65;
  font-weight: 300;
  .content{
    justify-content: center;
    .title-wrapper {
      text-align: center;
      padding-bottom: 40px;
      .title {
        padding-bottom: 20px;
        font-size: 1.5rem;
        font-weight: 300;
      }
      .desc {
        display: inline-block;
        line-height: 1.75;
        font-size: 1.25rem;
        font-weight: 300;
      }
    }
    .partner {
      .logo-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
        img {
          width: 70%;
        }
      }
    }
  }
}
@media screen and (max-width:991.99px){
  #six{
    padding: 3rem 0 1rem;
    .content{
      .title-wrapper{
        .title{
          line-height: 1.5;
          font-size: 1.5rem;
          letter-spacing: -0.025em;
        }
        .desc{
          font-size: 1rem;
        }
      }
      .partner{
        .logo-wrapper{
          img{
          }
        }
      }
    }
  }
}

#seven {
  justify-content: center;
  position: relative;
  padding: 60px 0 40px 0;
  height: auto;
  color: rgba(255, 255, 255, 0.5);
  background-image: none;
  .logo-wrapper {
    text-align: center;
    .icon {
      display: inline-block;
      font-size: 1.75rem;
      margin-bottom: 15px;
    }
  }
  .copyright {
    justify-content: center;
    text-align: center;
    span {
      display: inline-block;
      padding: 0 10px;
      line-height: 12px;
      font-size: 12px;
      border-right: 1px solid;
      font-weight: 100;
      &:last-child {
        border: none;
      }
    }
  }
}
@media screen and (max-width:991.99px){
  #seven{
    padding: 3rem 0;
    .copyright{
      span{
        line-height: 2em;
        font-size: 0.85rem;
        border: none;
      }
    }    
  }
}

@media screen and (max-width:991.99px){
  body{
    overflow-x: hidden; 
    .container{
      transition: transform 0.5s ease;
      &.nav-visible{
        transform: translateX(275px);
      }  
    }
    .navbar{
      position: fixed;
      top: 0;
      width: 100%;
      height: 44px;
      text-align: center;
      background-color: #272833;
      box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
      transition: transform 0.5s ease;
      .nav-btn-wrapper{
        position: absolute;
        left: 0;
        top: 0;
        width: 54px;
        height: 100%;
        background-color: #e44c65;
        .nav-toggle{
          display: inline-block;
          height: 100%;
          width: 100%;
          line-height: 44px;
        }
      }
      .title{
        display: inline-block;
        height: 100%;
        width: 100%;
        line-height: 44px;
        span {
          font-weight: 300;
        }
        sup {
          font-size: 0.8rem;
          font-weight: 300;
        }
      }
      &.nav-visible{
        transform: translateX(275px);
      }
    }
    .nav-panel{
      position: fixed;
      left: 0;
      top: 0;
      bottom: 0;
      padding: 0.75rem 1.25rem;
      width: 275px;
      height: 100%;
      background-color: #181920;
      transform: translateX(-275px);
      transition: transform 0.5s ease;
      .nav-item{
        a{
          display: block;
          height: 3rem;
          line-height: 3rem;
          font-size: 1rem;
          font-weight: 300;
        }
        cursor: pointer;
      }
      &.nav-visible{
        transform: translateX(0px);
      }
    }
  }
}